@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 position: fixed;
 width: 100%;
 top: 0;
 height: 52px;
 box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
 background: white;
}

.navbar__logo {
 color: darkblue;
 font-size: 18px;
 font-weight: 600;
 cursor: pointer;
}

.navbar__button {
 display: none;
}
